<app-header></app-header>
<div class="container margin-top90 margin-bottom80">
  <form novalidate [formGroup]="formulario" (ngSubmit)="chooseCathegory()">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck"
      />
      <label class="form-check-label" for="defaultCheck">
        Elegir categorías
      </label>
    </div>
    <div class="form-check" *ngFor="let cathegory of arrCathegories | keyvalue">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ cathegory.value._id }}"
        id="cathegory{{ cathegory.value._id }}"
      />
      <label class="form-check-label" for="cathegory{{ cathegory.value._id }}">
        {{ cathegory.value.name }}
      </label>
    </div>
    <input
      [disabled]="!formulario.valid"
      type="submit"
      class="btn btn-warning m-4"
      value="Enviar"
    />
  </form>
</div>
