<div class="container">
  <form novalidate [formGroup]="form" (ngSubmit)="getData()">
    <div class="form-group">
      <label>Nombre</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Introduce el nombre de la ruta"
        formControlName="name"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.nombre.errors?.required &&
          formulario.controls.nombre.touched
        "
      >
        El campo no puede estar vacio
      </p>
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <input
        type="text"
        name="description"
        class="form-control"
        placeholder="Introduce una descripción de la ruta"
        formControlName="description"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <div class="form-group">
      <label>Duración</label>
      <input
        type="text"
        name="time"
        class="form-control"
        placeholder="Tiempo de duración aproximado"
        formControlName="time"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <div class="form-group">
      <label>Recorrido</label>
      <input
        type="text"
        name="length"
        class="form-control"
        placeholder="Cuántos kilómetros componen el recorrido"
        formControlName="length"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <div class="form-group">
      <label>Desnivel</label>
      <input
        type="text"
        name="slope"
        class="form-control"
        placeholder="Cuántos kilómetros de desnivel hay que salvar"
        formControlName="slope"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <!--circular-->
    <div class="form-group">
      <label>Provincia</label>
      <input
        type="text"
        name="province"
        class="form-control"
        placeholder="En qué provincia se encuentra la ruta"
        formControlName="province"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <!--coordenadas: location (lat+lon)-->
    <div class="form-group">
      <label>Transporte</label>
      <input
        type="text"
        name="transport"
        class="form-control"
        placeholder="Qué medios hay disponibles para llegar al inicio de la ruta"
        formControlName="transport"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.direccion.errors?.required &&
          formulario.controls.direccion.touched
        "
      >
        El campo no puede estar vacío
      </p>
    </div>
    <!--<div>
      <select class="form-control" name="cathegory" formControlName="cathegory">
        <option value="">Selecciona una categoría</option>
        <option value="madrid">Madrid</option>
        <option value="barcelona">Barcelona</option>
        <option value="valladolid">Valladolid</option>
      </select>
    </div>-->
    <input
      [disabled]="!formulario.valid"
      type="submit"
      class="btn btn-info"
      value="Enviar"
    />
  </form>
</div>
